.log_out_container {
  margin: auto 0;
}

.user_name {
  display: inline;
  margin-right: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(255, 215, 123);
  font-size: 18px;
}

@media screen and (max-width: 1000px) {
  .log_out_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .user_name {
    order: 2;
    margin-right: 0;
  }

  .log_out_btn {
    order: 1;
  }
}

@media screen and (max-width: 1000px) {
  .user_name {
    font-size: 16px;
  }
}

.log_out_btn {
  font-size: 18px;
  color: rgb(185, 177, 177);
  font-weight: 600;
  padding: 15px;
  margin-top: 18px;
  height: 43px;
  margin-top: auto;
  background-color: rgb(95, 96, 119);
  border-radius: 30px;
  border-color: transparent;
  transition: all 0.6s;
  line-height: 50%;
  max-width: 95px;
}

.log_out_btn:hover {
  border: 2px solid rgb(243, 148, 23);
  color: white;
}
